@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    color:white;
    margin:0;
    font-family: 'Poppins';
}

img{
	max-width: 100%;
	height:auto;
}

body {
	background: linear-gradient(-45deg, #F2BEBB, #F05985,#ff1077, #8560AD, #5880AD, #1660ff);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height:100vh;
	width:100vw;
    display:flex; 
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.glass-card{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 50vw;
    height: 90vh;
    margin-top: 50px;
    padding: 25px;
    overflow-x:hidden;
    overflow-y:scroll;
}

.welcome{
    border-bottom: 2px solid white;
}
.article{
    padding: 20px 0 20px 0;
    border-bottom: 2px solid white;
}
.article img{
    margin-right: 15px;
}

.name{
    font-family: 'Poppins-bold';
}
.adress{
    color: rgb(168, 168, 168)
}

.article .top-layer{
    display:flex;
    align-items: center;
}

.glass-body{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 35vh;
    width: 35vh;
    margin-top: 50px;
    padding: 25px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h3{
    margin-bottom: 10px;
}
.login-field{
    margin:10px;
    text-align: left;
    width:100%;
    margin-bottom:25px;
}

input{
    padding: 0 5px;
    border:none;
    outline:none;
    border-radius:3px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    width:100%;
}

button{
    border-radius: 1000px;
    width:33%;
    height:2rem;
    border:none;
    outline:none;
    color:black;
    mix-blend-mode: screen;
}

button::before{
    background: white;
    content:'';
    mix-blend-mode: color-burn;
}

.plus{
    position:fixed;
    top:10%;
    left:10%;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height:100px;
    width:100px;
    font-size:7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    color:black;
}
.plus a{
    text-decoration: none;
}

#comments{
    display:block;
}
.logout{
    position:fixed;
    top:10%;
    left:90%;
}

button{
    height:30px;
    width:90px;
}